eureka:         #tells about the Eureka server details and its refresh time
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:8761/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5
 
spring:    
  application:
    name: pioneer-zuul-gateway   #current service name to be used by the eureka server
  aop:
    proxyTargetClass: true     
     
zuul:
  routes:
    render: 
      sensitiveHeaders: 
      path: /pioneer-renderfarm/**
      url: https://localhost:8095/
    resource: /pioneer-resource-server/**
    auth:
      sensitiveHeaders: 
      path: /pioneer-authorization-server/**
      url: https://localhost:8769/auth/
#      stripPrefix: false
    login:
      url: https://localhost:8769/me
  add-proxy-headers: true

security:
  basic:
    enabled: true
  oauth2:
    sso:
      loginPath: /login
    client:
      accessTokenUri: http://localhost:8769/oauth/token
      userAuthorizationUri: /oauth/authorize
      clientId: bgonza
      clientSecret: pwd12345
    resource:
      jwt:
        keyValue: "abc"
      id: fooScope
      serviceId: ${PREFIX:}resource     
     
server:
  port: 8765
     
ribbon:
  eureka:
    enabled: false     
     
management:
  security:
    enabled: true  #disable the spring security on the management endpoints like /env, /refresh etc.
 
logging:
  level:
    com.pioneer.zuul.gateway.pioneerzuulgateway: DEBUG